@-webkit-keyframes rotate-vert-center {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}
@keyframes rotate-vert-center {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}
@-webkit-keyframes rotate-hor-center {
  0% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
  }
  100% {
    -webkit-transform: rotateX(-360deg);
    transform: rotateX(-360deg);
  }
}
@keyframes rotate-hor-center {
  0% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
  }
  100% {
    -webkit-transform: rotateX(-360deg);
    transform: rotateX(-360deg);
  }
}
@-webkit-keyframes rotate-out-ver {
  0% {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    opacity: 0;
  }
}
@keyframes rotate-out-ver {
  0% {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    opacity: 0;
  }
}

.loading {
  font-family: SevereLowerCase;
  font-size: 70px;
}

.rotate-left {
  -webkit-animation: rotate-vert-center 1.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) both;
  animation: rotate-vert-center 1.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) both;
}

.rotate-right {
  -webkit-animation: rotate-vert-center 1.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) reverse both;
  animation: rotate-vert-center 1.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) reverse both;
}

.rotate-top {
  -webkit-animation: rotate-hor-center 1.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) both;
  animation: rotate-hor-center 1.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) both;
}

.rotate-bottom {
  -webkit-animation: rotate-hor-center 1.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) reverse both;
  animation: rotate-hor-center 1.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) reverse both;
}

.rotate-out {
  -webkit-animation: rotate-out-ver 1.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) both;
  animation: rotate-out-ver 1.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) both;
}

.rotate-shake {
  -webkit-animation: shake-horizontal 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
  animation: shake-horizontal 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}
